.home-page {
    background-color: var(--secondary-bg);
}

.loading-screen,
.error-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    color: var(--text-gray);
}