.home-page {
    background-color: var(--secondary-bg);
    animation: fadeIn 0.3s ease-in-out;
}

.loading-screen,
.error-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: var(--text-gray);
}